@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(0 0 0 / 99%);
}

.main__center {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
}

.intro_div {
  position: absolute;
  left: 10vw;
}

.intro_div--div {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 13rem;
  font-weight: bold;
  color: rgb(234 15 30);
  padding: 0 3rem 1rem 1rem;
  position: relative;
}

a {
  text-decoration: none;
}

.about {
  color: rgb(255 255 255);
}

.about::before {
  content: "Hello.";
}

.intro::before {
  content: "I am";
}

.myName::before {
  content: "Pankaj";
}

.center__tap {
  position: relative;
  top: 20%;
  height: 8rem;
  display: grid;
  place-content: center;
}
.bounce {
  font-size: 2rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  animation: bounce 1s linear infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
}

@media screen and (min-width: 775px) {
  .intro_div--div {
    transition: transform 0.3s linear;
  }

  .about:hover::before {
    content: "About";
  }

  .intro:hover::before {
    content: "Work";
  }

  .myName:hover::before {
    content: "Contact";
  }

  .about:hover::before {
    content: "About";
  }

  .intro_div--div:hover {
    transform: translateX(2rem);
  }
  .bounce {
    display: none;
  }
}

@media screen and (max-width: 775px) {
  .intro_div {
    position: absolute;
    top: 15%;
  }

  .intro_div--div {
    font-size: 12em;
  }

  .intro_div a {
    pointer-events: none;
    cursor: default;
  }
}
